@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
body{
  font-family: "Google Sans Flex", sans-serif;
}
.navigation{
   position: fixed; 
    top: 0;          
    width: 100%;     
    z-index: 1000;   
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.menu{
  display: flex;
  justify-content: space-around;
  gap: 25px;
  list-style-type:none;
}
.francua{
  width: 100px;
}
.menu a{
  color:#7A7A7A;
  text-decoration: none;
  font-size: 18px;
      font-weight:700;
}
.blue a{
  background-color: rgba(0, 47, 101, 1);
  color: white;
  border-radius: 8px;
}
.menu a:hover{
text-decoration: underline;
color: #E7873C;
transition: 0.3s;
}
.main{
  text-align: center;
  margin-top: 80px;
}
.h1_main{
  color: #E7873C;
}
.h1_second{
  color: black;
}
.first_txt{
  display: flex;
  justify-content: center;
}
.h1_txt{
  font-size: 50px;
}
.span_txt{
  background-color: rgba(0, 47, 101, 1);
  color: white;
}
.txt{
  line-height: 1.7;
}
.maps{
  display: flex;
  justify-content: space-between;
}
.Ukr_img{
  margin-right: 100px;
  width: 550px;
}
.about_us{
  margin-left: 100px;
}
.finger{
 color: #F58220;
  font-size: 56px;
  font-weight: 700;
}
.about_txt{
    color: #0F0F0F;
    font-size: 19px;
    font-weight: 700;
}
.about_txt:hover{
  text-shadow: 1px 1px 30px  #feb34c;
}
.second{
   position: relative;
  margin-top: 50px;
  text-align: center;
  background-color: rgba(0, 47, 101, 1);
  border-radius: 28px;
}
.cappuchino{
  width: 300px;
  position: absolute;
    top: 60%;
  left: 2%;
  transform: translate(-50%, -50%); 
}
.second_h1{
  color: white;
}
.boxes{
  display: flex;
  justify-content: space-around;
}
.box_p{
  color: white;
  font-weight: bold;
}
.franshyza{
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.h1_golovna{
  text-align: center;
  color: rgba(0, 47, 101, 1);
}
.grid{
  display:grid;
   grid-template-columns: auto auto;
   gap: 45px;
}
.image-left{
   float: left; 
  margin-right: 10px; 
  margin-bottom: 5px; 
}
.section_third{
  margin-top: 50px;
  text-align: center;
}
.grid_templates{
  display:grid;
   grid-template-columns: auto auto;
   gap: 0px;
}
.images-1{
      padding: 14px 0px 20px 20px;
}
.img{
  box-shadow: 1px 1px 30px black;
  width: 480px;
  height: 280px;
  border-radius: 30px;
  transition: transform 0.5s ease;
  position: relative;
}
.img:hover {
 transform: scale(1.2);
}
.p_img_first{
  color: white;
  font-weight: bold;
      font-size: 24px;
  position: absolute;
   top:245%;
  left: 13%;
}
.p_img_second{
    color: white;
  font-weight: bold;
      font-size: 24px;
 position: absolute;
 top:245%;
 left: 63%;
}
.p_img_third{
    color: white;
  font-weight: bold;
      font-size: 24px;
 position: absolute;
 top:290%;
left: 13%;
}
.p_img_fourth{
    color: white;
  font-weight: bold;
      font-size: 24px;
 position: absolute;
 left: 63%;
 top:290%;
}
.p_img_five{
    color: white;
  font-weight: bold;
      font-size: 24px;
 position: absolute;
 top:335%;
left: 13%;
}
.p_img_six{
    color: white;
  font-weight: bold;
      font-size: 24px;
 position: absolute;
   left: 63%;
  top:335%;
}
.section_fourth{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.kavyarnya{
  color: rgba(0, 47, 101, 1);
}
.qwe{
  margin-top: 50px;
  border-radius: 30px;
  width: 500px;
  box-shadow: 25px -25px 0px 0px #002F64;
}
.section_menu{
 
 font-size: 20px;
line-height: 1.9;
}
.section_menu li{
   text-align: left;
list-style-type: square;
font-weight: bold;
color: #002F64;
transition: transform 0.5s ease;
}
.section_menu li:hover{
  text-decoration: underline;
  transform: scale(1.2);
}
.orange{
  text-align: center;
  background-color: #fcb900;
  border-radius: 30px;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.orange_h1{
  color: white;
}
.btn_orange{
  font-size: 24px;
  font-weight: 400;
  color:white;
  border: 1px solid black;
  background-color: #fcb900;
  width:372px;
  height: 85px;
  border-radius: 30px;
  cursor: pointer;
}
.btn_orange:hover{
  transition: 0.7s ease;
  background-color: white;
  color: black;
}
.five{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.text_area{
  text-align: left;
  margin-top: 90px;
  margin-left: 80px;
}
.h1_text_area{
  color: #002F64;
}
.p_area{
 line-height: 1.5;
 font-size: 22px;
}
.pek{
  width: 400px;
  margin-right: 30px;
}
.footer{
   position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.finish{
  position: absolute;
  width: 400px;
  left: 30px;
}
.footer_txt-1{
  border-top: 1px solid #fcb900;
}
.finish:hover{
  transform: scale(1.2);
  transition: 0.5s ease;
}
